.profile-card {
  display: grid;
  border: 1px solid var(--light-color);
  padding: 32px 24px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}

.avatar-name {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-gap: 20px;
}

.profile-card__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-card__name {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-card__tags {
  margin: auto;
  display: flex;
  gap: 4px;
}

.profile-card__action-btns {
  margin: auto;
  display: flex;
  gap: 4px;
}
