<img
  src="/assets/svg/logo-small.svg"
  alt="logo"
  class="ml16 mb20"
/>
<nav>
  <ul class="main-menu-list mb20">
    <li *ngFor="let menuItem of menuItems">
      <button class="menu-item">
        <app-svg-icon [icon]="menuItem.icon"></app-svg-icon>
        <div>{{ menuItem.label }}</div>
      </button>
    </li>
  </ul>
</nav>
<p class="medium-text mb20">Подписчики</p>


@for (profile of subscribers$ | async; track profile.id) {
  <app-subscriber-card [profile]="profile"></app-subscriber-card>
}

<div class="mt20 mb20 to-subscribers">
  <a
    [routerLink]="['/subscribers']"
    class="to-subscribers-link medium-text"
  >
    Все подписчики
  </a>
  <app-svg-icon
    icon="arrow"
    [size]=18
    class="to-subscribers-icon"
    ></app-svg-icon>
</div>

<footer class="sidebar--footer">
  @if (me(); as me) {
    @if (me.avatarUrl) {
      <img [src]="me.avatarUrl | imgUrl" alt="userAvatar"/>
    } @else {
      <img src="/assets/imgs/avatar-placeholder.png" alt="userAvatar"/>
    }
    <div class="medium-text username-text">{{ me.username}}</div>
    <a [routerLink]="['settings']" >
      <app-svg-icon
        icon="settings"
        class="settings-btn"
        ></app-svg-icon>
    </a>
  }
</footer>
