@if (profile$ | async; as profile) {
  <header class="profile-page__header">
    <app-profile-header
      [profile]="profile"
    ></app-profile-header>

    <a class="btn to-settings-btn" [routerLink]="['/settings']">
      Редактировать
      <app-svg-icon
        icon="settings"
        class="to-settings-icon"
        [size]="16"
      ></app-svg-icon>
    </a>
  </header>

  <main class="profile-page__body">
    <div></div>
    <div>
      <h3 class="h6 mb16">Подписчики</h3>
      <div class="subscribers-wrapper mb32">
        @for (profile of subscribers$ | async; track profile.id) {
          <a class="subscriber-avatar-btn" [routerLink]="['/profile', profile.id]">
            <img [src]="profile.avatarUrl | imgUrl"/>
          </a>
        }
        <a class="to-subscribers-search" [routerLink]="['/search']">
        </a>
      </div>
      <h3 class="h6 mb16">Навыки</h3>
      <div class="stack-wrapper mb32">
        @for (skill of profile.stack; track skill) {
          <div class="skill-tag">{{ skill }}</div>
        }
      </div>
      <h3 class="h6 mb16">О себе</h3>
      <p class="medium-tex">{{profile.description}}</p>
    </div>
  </main>
}

