@import "fonts";

:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --primary-color: #AE7AFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 400;
}

.skill-tag {
  height: 24px;
  padding: 2px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
}

.btn {
  border: none;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-style: 14px;
  line-height: 24px;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-weight: 100;
  font-style: 14px;
  line-height: 20px;
}
