@import "fonts";
@import "margins";

:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --primary-color: #AE7AFF;
  --gray-color: #5F646D;
  --dark-hover-color: #161616;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--light-color);
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 400;
  background: url('/assets/imgs/background.jpg') center / cover no-repeat;
  min-height: 100vh;
}

.skill-tag {
  height: 24px;
  padding: 2px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
}

.btn {
  border: 1px solid var(--dark-color);
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-style: 14px;
  line-height: 24px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}

.btn-shadow {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -4px;
    right: -4px;
    background: var(--gray-color);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
  }
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
}

.tt-control-label {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.tt-input {
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 12px 20px;
  background: var(--dark-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: 'JetBrains Mono', sans-serif;
  margin-top: 8px;
  color: var(--light-color);
  width: 100%;
}
